/* start rules */
:root {
    --main-color: #ff9800;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 3000px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.clearfix {
    clear: both;
}
/* end rules */


/* start settings box */
.settings-box {
    position: fixed;
    background-color: rgb(240, 238, 238);
    left: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    z-index: 1000;
    transition: 0.5s;
}
.settings-box.open{
    left: 0;
}
.settings-box .toggle_settings {
    position: absolute;
    right: -30px;
    top: 125px;
    background-color: #fff;
    padding: 8px 0;
    width: 30px;
    text-align: center;
    cursor: pointer;
    /* transition: 0.5s; */
}



.settings-box .toggle_settings .fa-gear {
    font-size: 20px;
}
.settings-box .toggle_settings .spin {
    animation: rotate 1.5s infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(365deg);
    }
}



.settings-box .settings-container .option-box {
    padding: 35px;
    text-align: center;
    background-color: rgb(177, 175, 175);
    margin: 10px;
}
.settings-box .settings-container .option-box h4 {
    margin: 0;
    color: rgb(94, 94, 94);
    margin-bottom: 15px;
    font-size: 18.5px;
}
.settings-box .settings-container .option-box .colors_list {
    list-style: none;
    text-align: center;
    padding: 0;
}
.settings-box .settings-container .option-box .colors_list li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
    
}
.settings-box .settings-container .option-box .colors_list li.active {
    opacity: 1;
    border: 2px solid #fff;
}
.settings-box .settings-container .option-box .colors_list li:nth-of-type(1) {
    background-color: #ff9800;
}
.settings-box .settings-container .option-box .colors_list li:nth-of-type(2) {
    background-color: #E91E63;
}
.settings-box .settings-container .option-box .colors_list li:nth-of-type(3) {
    background-color: #5e548e;
}
.settings-box .settings-container .option-box .colors_list li:nth-of-type(4) {
    background-color: #1d9eee;
}
.settings-box .settings-container .option-box .colors_list li:nth-of-type(5) {
    background-color: #00f5d4;
}
.settings-box .settings-container .option-box span.active {
    opacity: 1;
}
.settings-box .settings-container .option-box  .yes ,
.settings-box .settings-container .option-box  .no {
    width: 80px;
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
}
.settings-box .settings-container .reset-option {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    width:  94%;
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    border-radius: 4px;
    cursor: pointer;
}
/* end settings box */



/* start nav bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    z-index: 1000;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    margin: 15px auto;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip {
    background-color: var(--main-color);
    width: 110px;
    color: #fff;
    padding: 4px 10px;
    right: 30px;
    top: -7px;
    cursor: default;
    pointer-events: none;
    display: none;
    position: absolute;
}
.nav-bullets .bullet .tooltip::before {
    content: '';
    border-style: solid;
    border-width: 12px;
    width: 0;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-color: transparent transparent transparent var(--main-color);
    right: -20px;
}
/* end nav bullets */



/* start landing page */
.landing_page {
    min-height: 100vh;
    background-image: url(../imgs/01.jpg);
    background-size: cover;
    position: relative;
}
.landing_page .overlay {
    background-color: rgba(0, 0, 0, 0.514);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing_page .container {
    position: relative;
    z-index: 1000;
}
.header-area {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 25px 0;
    z-index: 2;
    position: relative;
}
.header-area .logo {
    width: 300px;
    font-size: 25px;
    font-weight: bold;
}
.header-area .links {
    list-style: none;
    display: flex;
    font-size: 16px;
    margin-top: 10px;
}
.header-area .links li {
    margin-left: 15px;
}
.header-area .links li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.header-area .links li a:hover , .header-area .links li a.active {
    color: var(--main-color);
}
/* .header-area .links-container {
    text-align: right;
} */
.header-area .toggle-menu {
    background: none;
    border: none;
    width: 28px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
}
.header-area .toggle-menu span {
    display: block;
    width: 100%;
    background-color: #fff;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 3px;
}
.introduction-text {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}
.introduction-text h1 span{
    color: var(--main-color);
}
.introduction-text p {
    margin-top: 15px;
    line-height: 32px;
    font-size: 20px;
}
@media (max-width: 991px) { /* small screen rules */
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        position: absolute;
        background-color: #fff;
        display: block;
        left: 0;
        top: 70px;
        width: 100%;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 5px;
    }
    .header-area .links li {
        display: block;
        margin: 10px;
    }
    .header-area .links li a {
        color: var(--main-color);
        font-weight: bold;
    }
    .header-area .toggle-menu {
        display: block;
    }
}
/* end landing page */



/* start about us */
.about_us {
    padding: 50px 0;
    display: flex;
}
.about_us .info_box {
    flex: 1;
    padding: 40px 30px;
}
.about_us .info_box h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 15px;

}
.about_us .info_box p {
    line-height: 1.7;
    font-weight: bold;
    color: rgb(139, 138, 138);
    margin: 0;
}
.about_us .img_box {
    flex: 1;
    text-align: center;
}
.about_us .img_box img {
    width: 350px;
}
@media (max-width: 767px) {
    .about_us {
        display: block;
        text-align: center;
    }
}
/* end about us */



/* start our skills */
.our-skills {
    padding: 50px 0;
    background-color: #eee;
}
.our-skills h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 60px;
    text-align: center;
}
.our-skills .skill-box {
    background-color: #fff;
    display: flex;
    padding: 20px;
    margin: 0 0 20px 0;
}
.our-skills .skill-box .skill-name {
    font-weight: bold;
    font-size: 15px;
    width: 125px;
    text-align: center;
    line-height: 30px;
}
.our-skills .skill-box .skill-progress {
    height: 30px;
    width: calc(100% - 110px);
    background-color: rgba(51, 51, 51, 0.144);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.our-skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: all .5s;
}
@media (max-width: 767px) {
    .our-skills .skill-box {
        display: block;
        padding: 10px;
    }
    .our-skills .skill-box .skill-name {
        width: 100%;
        margin-bottom: 10px;
    }
    .our-skills .skill-box .skill-progress  {
        width: 100%;
    }
}
/* end our skills */



/* start Gallery */
.gallery {
    padding: 50px 0;
}
.gallery h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 60px;
    text-align: center;
}
.gallery .imgs-box {
    text-align: center;
}
.gallery .imgs-box img {
    /* width: 200px;
    height: 130px; */
    width: 250px;
    height: 150px;
    padding: 5px;
    margin: 5px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.356);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    z-index: 1001;
}
.popup-box img {
    width: 100%;
}
.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 20px 0 0 0;
    color: var(--main-color);
}
.close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}
/* end Gallery */




/* start time line */
.timeLine {
    padding: 50px 0;
    background-color: #eee;
}
.timeLine  .timeLine-content {
    position: relative;
    overflow: hidden;
}
.timeLine  .timeLine-content::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    left: 50%;
    top: 0;
    position: absolute;
}
.timeLine  .timeLine-content .year {
    position: relative;
    margin: 20px auto;
    width: 60px;
    z-index: 2;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 2px 5px;
}
.timeLine  .timeLine-content .left , .timeLine  .timeLine-content .right {
    position: relative;
    width: 50%;
    padding: 0 40px;
    margin-bottom: 40px;
}
.timeLine  .timeLine-content .left {
    float: left;
}
.timeLine  .timeLine-content .right {
    float: right;
}
.timeLine  .timeLine-content .right::before , .timeLine  .timeLine-content .left::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    top: 30px;
    position: absolute;
}
.timeLine  .timeLine-content .left::before {
    right: -12px;
}
.timeLine  .timeLine-content .right::before {
    left: -9px;
}
.timeLine  .timeLine-content .content {
    padding: 25px;
    background-color: #fff;
}
.timeLine  .timeLine-content .content h3 {
    margin-bottom: 15px;
    color: var(--main-color);
}
.timeLine  .timeLine-content .content p {
    margin: 0;
    color: #666;
    line-height: 1.4;
}
.timeLine  .timeLine-content .left .content::before , .timeLine  .timeLine-content .right .content::before {
    content: '';
    border-style: solid;
    border-width: 12px;
    width: 0;
    height: 0;
    top: 30px;
    position: absolute;
}
.timeLine  .timeLine-content .left .content::before {
    border-color: transparent transparent transparent #fff;
    right: 16px;
}
.timeLine  .timeLine-content .right .content::before {
    border-color: transparent #fff transparent transparent;
    left: 16px;
}
@media (max-width: 767px) {
    .timeLine  .timeLine-content .left , .timeLine  .timeLine-content .right {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeLine  .timeLine-content .right::before , .timeLine  .timeLine-content .left::before {
        display: none;
    }
    .timeLine  .timeLine-content .left .content::before , .timeLine  .timeLine-content .right .content::before {
        display: none;
    }
}
/* end time line */


/* start our features */
.features {
    padding: 50px 0;
}
.features h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 60px;
    text-align: center;
}
.features .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin: 0 0 55px 0;
}
.features .feat-box img {
    width: 100px;
    height: 100px;
    padding: 3px;
    border-radius: 50%;
    border: 3px solid rgb(179, 178, 178);
}
.features .feat-box h4 {
    font-size: 18px;
    margin: 15px 0 40px 0;
    color: rgba(0, 0, 0, 0.616);
    position: relative;
}
.features .feat-box h4::before {
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--main-color);
    left: 42.5%;
    bottom: -22px;
    position: absolute;
}
.features .feat-box p {
    width: 80%;
    margin: 0 auto;
    color: rgb(160, 156, 156);
}
@media (max-width: 767px) {
    .features .feat-box {
        width: 100%;
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    .features .feat-box {
        width: calc(100% / 2);
    }
}
/* end our features */



/* start testimonials */
.testimonials {
    position: relative;
    padding: 50px 0;
}
.testimonials::before {
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
.testimonials::after {
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testimonials h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    z-index: 2;
    position: relative;
}
.testimonials .testimonials-content .ts-box {
    z-index: 2;
    position: relative;
    width: calc(98% / 3);
    float: left;
    background-color: #fff;
    padding: 10px;
}
.testimonials .testimonials-content .ts-box:not(:last-of-type) {
    margin: 0 1% 0 0;
}
.testimonials .testimonials-content .ts-box > p {
    margin: 0 0 20px 0;
    line-height: 1.3;
    font-size: 15px;
    font-style: italic;
    color: rgb(134, 134, 134);
}
.testimonials .testimonials-content .ts-box .person-info {
    overflow: hidden;
}
.testimonials .testimonials-content .ts-box .person-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin: 0 10px 0 0;
}
.testimonials .testimonials-content .ts-box .person-info h4 {
    margin: 15px 0 10px 0;
}
.testimonials .testimonials-content .ts-box .person-info p {
    margin: 0;
    color: gray;
}
@media(max-width: 767px) {
    .testimonials .testimonials-content .ts-box:nth-of-type(1) ,
    .testimonials .testimonials-content .ts-box:nth-of-type(2) ,
    .testimonials .testimonials-content .ts-box:nth-of-type(3) {
        width: 100%;
        float: none;
        margin: 0 0 10px 0;
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    .testimonials .testimonials-content .ts-box .person-info {
        text-align: center;
        overflow: visible;
    }
    .testimonials .testimonials-content .ts-box .person-info img {
        float: none;
        margin-right: 0;
    }
}
/* end testimonials */



/* start contact us */
.contact {
    /* min-height: 600px; */
    padding: 50px 0;
    background-image: url(../imgs/map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.808);
}
.contact .container {
    position: relative;
    z-index: 2;
}
.contact .container h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 60px;
    text-align: center;
}
.contact .container form {
    overflow: hidden;
    max-width: 700px;
    margin: auto;
}
.contact .container form .left {
    float: left;
    width: 49%;
}
.contact .container form .right {
    float: right;
    width: 49%;
}
.contact .container form input:not([type = "submit"]) , .contact .container form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.685);
}
.contact .container form input:not([type = "submit"]):focus , .contact .container form textarea:focus {
    outline: 1px solid var(--main-color);
}
.contact .container form input {
    height: 40px;
}
.contact .container form textarea {
    height: 150px;
}
.contact .container form input:focus::-webkit-input-placeholder ,
.contact .container form textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.4s;
}
.contact .container form input[type = "submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    border-radius: 6px;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}
@media (max-width: 767px) {
    .contact .container form .left ,
    .contact .container form .right {
        float: none;
        width: 100%;
    }
}
/* end contact us */


/* start footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 25px;
    text-align: center;
    font-size: 18px;
}
footer span {
    font-style: italic;
    color: var(--main-color);
}
/* end footer */





/* start grid system */
@media (max-width: 767px) {  /* Mobile & tablet rules */
    .container {
        width: 540px;
    }
}
@media(min-width: 768px) and (max-width: 991px) { /* small screen rules */
    .container {
        width: 750px;
    }
}
@media(min-width: 992px) and (max-width: 1199px) { /* medium screen rules */
    .container {
        width: 970px;
    }
}
@media(min-width: 1200px) { /* large screen rules */
    .container {
        width: 1170px;
    }
}
/* end grid system */